<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".fragment.drug.DrugSuitcaseAddDrugActivity"></activity>
        <activity android:name=".fragment.drug.DrugSuitcaseBuyDrugAcitvity" />
        <activity android:name=".fragment.drug.DrugSuitcaseItemDetailActivity" />
        <activity android:name=".fragment.drug.DrugSuitcaseActivity" />
        <activity android:name=".fragment.help.SearchHelpItemsActivity" />
        <activity android:name=".testActivity" />
        <activity android:name=".fragment.setting.FunctionIntroduceActivity" />
        <activity android:name=".fragment.setting.FeedBackHistoryDetailActivity" />
        <activity android:name=".fragment.setting.FeedbackHistoryInfoActivity" />
        <activity android:name=".fragment.setting.FeedbackSuccessfulActivity" />
        <activity android:name=".fragment.setting.FeedBackActivity" />
        <activity android:name=".fragment.setting.ChangePassWordConfirmActivity" />
        <activity android:name=".fragment.setting.ChangePassWordAskActivity" />
        <activity android:name=".fragment.personalinfo.ChangeNameActivity" />
        <activity android:name=".fragment.personalinfo.PersonalInfoActivity" />
        <activity android:name=".fragment.myfragment.AboutUsActivity" />
        <activity android:name=".fragment.myfragment.HelpActivity" />
        <activity android:name=".fragment.myfragment.EmailActivity" />
        <activity android:name=".fragment.myfragment.SettingActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>